FORMAT: 1A
HOST: https://jets.jp.oracle.com/

Beehive Booking Helper (BBHelper)
=================================

本ドキュメントでは、Beehive Booking Helper(BBHelper)のサーバーサイドAPIの仕様を記述します。

BBHelperは、1)Beehive上で予約可能な会議室を探す、2)会議室を仮押さえする、という作業を、簡単に実施するためのアプリケーションです。

サーバーサイドのAPIはREST形式で提供され、フロントエンド（WebのUI）から呼び出される想定です。

セッション管理 [/api/session]
----------------------------

### BBHelperにログインする [GET /api/session/actions/login]
BBHelperにログインします。<br>
Beehiveのアカウントのユーザー名／パスワードをBasic認証のヘッダーの形式で送信し、ログインに成功すると認証済みであることを表すセッションIDを返却します。<br>
以降、上記のセッションIDをヘッダーに付加してBBHelperのAPIを呼び出します。

+ Request
    + Headers

            Authorization: Basic aGlyb3NoaS5oYXlha2F3YUBvcmFjbGUuY29tOnNhbXBsZXBhc3N3b3Jk

+ Response 200 (application/json)
    + Headers

            BBH-Authorized-Session: rfsfog17jSX68TtjwXW6wIfEj0UvGkPm

+ Response 401 (application/json;charset=UTF-8)
    ユーザー名／パスワードの組み合わせが送信されなかったか、正しくない値であったために認証に失敗した場合にこのレスポンスが返却されます。
    + Body

            {
                "status": 401,
                "error": "Unauthorized",
                "message": "BBHELPER-ERROR-0010: some exception raised from beehive4j.(cause: 401: Unauthorized)"
            }


会議室情報の操作 [/api/resources]
--------------------------------

### 予約済みの会議を含む、会議室情報の一覧を取得する [GET /api/resources/actions/fetchWithInvitations{?fromdate}{?todate}{?floor}]
予約された会議の情報を含む、各会議室の情報のリストを取得します。<br>
会議室のフロアーの種類によって、取得対象を絞り込むことができます（floorパラメータの説明を参照）。<br>
各会議室の情報の情報には、クエリで指定した時間帯の会議情報も含まれます。

+ Request
    + Headers

            BBH-Authorized-Session: rfsfog17jSX68TtjwXW6wIfEj0UvGkPm

+ Parameters
    + fromdate: `2016-04-01T12:00:00.000%2b09:00` (date, required) - 開始日時<br>
                取得対象の会議情報の時間帯を指定するパラメータ。fromdateとtodateで指定された範囲に会議時間帯が被るものが対象となる<br>
                フォーマットはISO 8601拡張形式 (yyyy-MM-ddTHH:mm:ss.SSSZ)。オフセットに含まれる"+"記号は"%2b"に置き換えること（パーセントエンコーディング）<br>
    + todate:   `2016-04-01T13:00:00.000%2b09:00` (date, required) - 終了日時<br>
                取得対象の会議情報の時間帯を指定するパラメータ<br>
                フォーマットはISO 8601拡張形式 (yyyy-MM-ddTHH:mm:ss.SSSZ)。オフセットに含まれる"+"記号を"%2b"に置き換えること（パーセントエンコーディング）<br>
    + floor:    `MEETING_UPPER` (string) - フロアカテゴリー<br>
                取得対象のフロアを指定します。<br>
                - "CONFERENCE_EXTERNAL": 社外来訪者向け会議室／セミナールーム(13,14F)<br>
                - "CONFERENCE_INTERNAL": 社員用大型会議室(15F)<br>
                - "MEETING_LOWER": 執務エリア: 低階層(16-18F)<br>
                - "MEETING_UPPER": 執務エリア: 高階層(19-21F)<br>
                - "OTHER": その他。特殊な用途のエリア(10,11,12,23,24F)<br>

+ Response 200 (application/json)
    + Body

            {
                "fromdate": "2016-04-01T12:00:00.000+09:00"
                "todate": "2016-04-01T13:00:00.000+09:00"
                "resources": {
                    [
                        {
                            "name": "JP-OAC-CONF-17006_17M1",
                            "resource_id": "334B:3BF0:bkrs:38893C00F42F38A1E0404498C8A6612B0001DDD86644",
                            "location": "OAC",
                            "capacity": 2,
                            "link": "https://layout.com/17M1",
                            "facility": {
                                "wall": "全面透明ガラス",
                                "door": "全面透明ガラス",
                                "projector": "液晶Display",
                                "phone": "IP-Phone"
                            },
                        },
                        {
                            "name": "JP-OAC-CONF-17010_17M3",
                            "resource_id": "334B:3BF0:bkrs:38893C00F42F38A1E0404498C8A6612B0001DE093ED7",
                            "location": "OAC",
                            "capacity": 12,
                            "link": "https://layout.com/17M3",
                            "facility": {
                                "wall": "上下透明ガラス、中央すりガラス、コーナー部分全面透明ガラス",
                                "door": "全面透明ガラス",
                                "projector": "プロジェクタ",
                                "phone": "IP-ConferenceStation",
                                "whiteboard": "ホワイトボード/プロジェクター投影スクリーン兼用パネル"
                            },
                            "invitaitons": {
                                [
                                    {
                                        "name": "戦略会議",
                                        "invitation_id": "bbh-invt:38893C00F42F38A1E0404498C8A6612B000D34BAADAB",
                                        "resource_id": "334B:3BF0:bkrs:38893C00F42F38A1E0404498C8A6612B0001DE093ED7",
                                        "organizer": {
                                            "name": "Yosuke Arai",
                                            "address": "yosuke.arai@oracle.com",
                                            "link": "https://people.us.oracle.com/pls/oracle/f?p=8000:2:::::PERSON_ID:243488629813781"
                                        },
                                        "start": "2016-04-01T11:30:00.000+09:00",
                                        "end": "2016-04-01T12:30:00.000+09:00"
                                    },
                                    {
                                        "name": "定例会議",
                                        "invitation_id": "bbh-invt:38893C00F42F38A1E0404498C8A6612B000D34BAADAB",
                                        "resource_id": "334B:3BF0:bkrs:38893C00F42F38A1E0404498C8A6612B0001DDF0E78D",
                                        "organizer": {
                                            "name": "Junko Chino",
                                            "address": "juko.chino@oracle.com",
                                            "link": "https://people.us.oracle.com/pls/oracle/f?p=8000:2:::::PERSON_ID:243488629813781"
                                        },
                                        "start": "2016-04-01T12:30:00.000+09:00",
                                        "end": "2016-04-01T13:30:00.000+09:00"
                                    }
                                ]
                            }
                        }
                    ]
                }
            }

+ Response 400 (application/json;charset=UTF-8)
    エラーケースです。以下のいずれかに該当する場合に、このレスポンスが返却されます。
    + 必須のパラメータが指定されなかった
    + パラメータのフォーマットが正しくなかった
    + formdateに指定した日時がtodateよりも後であった

    + Body

            {
              "status": 400,
              "error": "Bad Request",
              "message": "BBHELPER-ERROR-0003: fromdate is later than the todate."
            }

+ Response 401 (application/json;charset=UTF-8)
    エラーケースです。以下のいずれかに該当する場合に、このレスポンスが返却されます。
    + 本アプリケーションで有効なセッションIDが指定されなかった
    + セッションがタイムアウトしている

    + Body

            {
              "status": 401,
              "error": "Unauthorized",
              "message": "BBHELPER-ERROR-0001: unauthorized."
            }


### 指定した時間帯に予約可能な、各会議室の情報のリストを取得する [GET /api/resources/actions/fetchOnlyAvailable{?fromdate}{?todate}{?floor}]
指定した時間帯に予約可能な、各会議室の情報のリストを取得します。<br>
会議室のフロアーの種類によって、取得対象を絞り込むことができます（floorパラメータの説明を参照）。<br>

+ Request
    + Headers

            BBH-Authorized-Session: rfsfog17jSX68TtjwXW6wIfEj0UvGkPm

+ Parameters
    + fromdate: `2016-04-01T12:00:00.000%2b09:00` (date, required) - 開始日時<br>
                取得対象の会議情報の時間帯を指定するパラメータ。fromdateとtodateで指定された範囲に会議時間帯が被るものが対象となる<br>
                フォーマットはISO 8601拡張形式 (yyyy-MM-ddTHH:mm:ss.SSSZ)。オフセットに含まれる"+"記号は"%2b"に置き換えること（パーセントエンコーディング）<br>
    + todate:   `2016-04-01T13:00:00.000%2b09:00` (date, required) - 終了日時<br>
                取得対象の会議情報の時間帯を指定するパラメータ<br>
                フォーマットはISO 8601拡張形式 (yyyy-MM-ddTHH:mm:ss.SSSZ)。オフセットに含まれる"+"記号を"%2b"に置き換えること（パーセントエンコーディング）<br>
    + floor:    `MEETING_UPPER` (string) - フロアカテゴリー<br>
                取得対象のフロアを指定します。<br>
                - "CONFERENCE_EXTERNAL": 社外来訪者向け会議室／セミナールーム(13,14F)<br>
                - "CONFERENCE_INTERNAL": 社員用大型会議室(15F)<br>
                - "MEETING_LOWER": 執務エリア: 低階層(16-18F)<br>
                - "MEETING_UPPER": 執務エリア: 高階層(19-21F)<br>
                - "OTHER": その他。特殊な用途のエリア(10,11,12,23,24F)<br>

+ Response 200 (application/json)

        {
            "fromdate": "2016-04-01T12:00:00.000+09:00"
            "todate": "2016-04-01T13:00:00.000+09:00"
            "resources": {
                [
                    {
                        "name": "JP-OAC-CONF-17006_17M1",
                        "resource_id": "334B:3BF0:bkrs:38893C00F42F38A1E0404498C8A6612B0001DDD86644",
                        "location": "OAC",
                        "capacity": 2,
                        "link": "https://layout.com/17M1",
                        "facility": {
                            "wall": "全面透明ガラス",
                            "door": "全面透明ガラス",
                            "projector": "液晶Display",
                            "phone": "IP-Phone"
                        },
                    },
                    {
                        "name": "JP-OAC-CONF-17010_17M3",
                        "resource_id": "334B:3BF0:bkrs:38893C00F42F38A1E0404498C8A6612B0001DE093ED7",
                        "location": "OAC",
                        "capacity": 12,
                        "link": "https://layout.com/17M3",
                        "facility": {
                            "wall": "上下透明ガラス、中央すりガラス、コーナー部分全面透明ガラス",
                            "door": "全面透明ガラス",
                            "projector": "プロジェクタ",
                            "phone": "IP-ConferenceStation",
                            "whiteboard": "ホワイトボード/プロジェクター投影スクリーン兼用パネル"
                        },
                    }
                ]
            }
        }

+ Response 400 (application/json;charset=UTF-8)
    エラーケースです。以下のいずれかに該当する場合に、このレスポンスが返却されます。
    + 必須のパラメータが指定されなかった
    + パラメータのフォーマットが正しくなかった
    + formdateに指定した日時がtodateよりも後であった

    + Body

            {
              "status": 400,
              "error": "Bad Request",
              "message": "BBHELPER-ERROR-0003: fromdate is later than the todate."
            }

+ Response 401 (application/json;charset=UTF-8)
    エラーケースです。以下のいずれかに該当する場合に、このレスポンスが返却されます。
    + 本アプリケーションで有効なセッションIDが指定されなかった
    + セッションがタイムアウトしている

    + Body

            {
              "status": 401,
              "error": "Unauthorized",
              "message": "BBHELPER-ERROR-0001: unauthorized."
            }

### 指定した会議室の情報を取得する [GET /api/resources/{resource_id}]
指定したIDの会議室の情報を取得します

+ Request
    + Headers

            BBH-Authorized-Session: rfsfog17jSX68TtjwXW6wIfEj0UvGkPm

+ Parameters
    + resource_id: `334B:3BF0:bkrs:38893C00F42F38A1E0404498C8A6612B0001DE093ED7` (string, required) - 情報を取得したい会議室のid<br>

+ Response 200 (application/json)

        {
            "name": "JP-OAC-CONF-17010_17M3",
            "resource_id": "334B:3BF0:bkrs:38893C00F42F38A1E0404498C8A6612B0001DE093ED7",
            "location": "OAC",
            "capacity": 12,
            "link": "https://layout.com/17M3",
            "facility": {
                "wall": "上下透明ガラス、中央すりガラス、コーナー部分全面透明ガラス",
                "door": "全面透明ガラス",
                "projector": "プロジェクタ",
                "phone": "IP-ConferenceStation",
                "whiteboard": "ホワイトボード/プロジェクター投影スクリーン兼用パネル"
            }
        }

+ Response 401 (application/json;charset=UTF-8)
    エラーケースです。以下のいずれかに該当する場合に、このレスポンスが返却されます。
    + 本アプリケーションで有効なセッションIDが指定されなかった
    + セッションがタイムアウトしている

    + Body

            {
              "status": 401,
              "error": "Unauthorized",
              "message": "BBHELPER-ERROR-0001: unauthorized."
            }

+ Response 404 (application/json;charset=UTF-8)
    エラーケースです。Pathパラメータで指定したIDに対応する会議室が存在しなかった場合に、このレスポンスが返却されます。

    + Body

            {
              "status": 404,
              "error": "Not Found",
              "message": "BBHELPER-ERROR-0011: not found."
            }


会議情報の操作 [/api/invitations]
-------------------------

### 指定した会議の情報を取得する [GET /api/invitations/{invitation_id}]
登録済みの会議の情報を取得します。

+ Request
    + Headers

            BBH-Authorized-Session: rfsfog17jSX68TtjwXW6wIfEj0UvGkPm

+ Parameters
    + invitation_id: `bbh-invt:38893C00F42F38A1E0404498C8A6612B000D34BAADAB` (string, required) - 情報を取得したい会議のid<br>

+ Response 200 (application/json)

        {
            "name": "経営会議",
            "invitation_id": "bbh-invt:38893C00F42F38A1E0404498C8A6612B000D34BAADAB",
            "resource_id": "334B:3BF0:bkrs:38893C00F42F38A1E0404498C8A6612B0001DDF0E78D",
            "organizer": {
                "name": "Hiroshi Hayakawa",
                "address": "hiroshi.hayakawa@oracle.com",
                "link": "https://people.us.oracle.com/pls/oracle/f?p=8000:2:::::PERSON_ID:243488629813781"
            },
            "start": "2016-04-01T12:00:00.000+09:00",
            "end": "2016-04-01T13:00:00.000+09:00"
        }


### 新規会議を登録する [POST]
新たに会議を登録します。

リクエストには、会議の名前、会議室のresource_id、開始／終了時間を含むJSONオブジェクトを指定します。

+ Request (application/json)

        {
            "name": "経営会議",
            "resource_id": "334B:3BF0:bkrs:38893C00F42F38A1E0404498C8A6612B0001DDF0E78D",
            "organizer": {
                "address": "hiroshi.hayakawa@oracle.com",
            },
            "start": "2016-04-01T12:00:00.000+09:00",
            "end": "2016-04-01T13:00:00.000+09:00"
        }

    + Headers

            BBH-Authorized-Session: rfsfog17jSX68TtjwXW6wIfEj0UvGkPm

+ Response 201 (application/json)
    + Headers

            Location: /invitations/bbh-invt:38893C00F42F38A1E0404498C8A6612B000D34BAADAB

    + Body

            {
                "name": "経営会議",
                "invitation_id": "bbh-invt:38893C00F42F38A1E0404498C8A6612B000D34BAADAB",
                "resource_id": "334B:3BF0:bkrs:38893C00F42F38A1E0404498C8A6612B0001DDF0E78D",
                "organizer": {
                    "name": "Hiroshi Hayakawa",
                    "address": "hiroshi.hayakawa@oracle.com",
                    "link": "https://people.us.oracle.com/pls/oracle/f?p=8000:2:::::PERSON_ID:243488629813781"
                },
                "start": "2016-04-01T12:00:00.000+09:00",
                "end": "2016-04-01T13:00:00.000+09:00"
            }

+ Response 400 (application/json;charset=UTF-8)
    エラーケースです。以下のいずれかに該当する場合に、このレスポンスが返却されます。
    + リクエストボディが指定されなかった
    + リクエストボディのフォーマットや値が不正だった

    + Body

            {
              "status": 400,
              "error": "Bad Request",
              "message": "BBHELPER-ERROR-0003: fromdate is later than the todate."
            }

+ Response 401 (application/json;charset=UTF-8)
    エラーケースです。以下のいずれかに該当する場合に、このレスポンスが返却されます。
    + 本アプリケーションで有効なセッションIDが指定されなかった
    + セッションがタイムアウトしている

    + Body

            {
              "status": 401,
              "error": "Unauthorized",
              "message": "BBHELPER-ERROR-0001: unauthorized."
            }

+ Response 409 (application/json;charset=UTF-8)
    エラーケースです。指定した時間帯に会議室がすでに予約済みである場合に、このレスポンスが返却されます。

    + Body

            {
              "status": 409,
              "error": "Conflict",
              "message": "BBHELPER-ERROR-0012: conflict."
            }
